@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: pink;
  color: white;
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
}
.canvas {
  display: flex;
  gap: 20px;
}
#canvasDirected,
#canvasUndirected {
  background-color: white;
}
/* #canvas1 {
} */
